body {
    height: 100%;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #343a40;
}

.weatherContainer {
    border-width: 2px;
    background-color: #212529;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    height: 60%;
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.infoContainer{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    margin: auto;
    background-color: #343a40;
    height: 60%;
    width: 70%;
}

#back{
    float: left;
}

#back:hover{
    background-color: darkred!important;
}

.button {
    font-weight: bold;
    background-color: #212529;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

h1{
    font-size: 35px;
    align-content: center;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    left: 50%;
    font-size: 75px;
}

h3{
    overflow: auto;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 20px;
}

#description{
    font-size: 15px;
}

#weatherIMG{
    height: 100px;
    width: 100px;
}