.iconTrayDark{
    margin: auto;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: #212529;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 40px;
    height: 250px;
}

.iconTrayDark2{
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: #212529;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 250px;
    display: flex;
    align-content: center;
    clear: both;
}

.iconContainer{
    flex-wrap: nowrap;
    border-width: 7px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: #343a40;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
.iconTrayLight{
    margin: auto;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: #EEEEEE;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 40px;
    height: 250px;
}

.iconTrayLight2{
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: #EEEEEE;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 250px;
    display: flex;
    align-content: center;
    clear: both;
}

